<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <atlasOutputFormat>TaredAtlas</atlasOutputFormat>
    <coordinateNumberFormat>DEG_LOCAL</coordinateNumberFormat>
    <customMapSources/>
    <customProxyHost>127.0.0.1</customProxyHost>
    <customProxyPassword></customProxyPassword>
    <customProxyPort>16808</customProxyPort>
    <customProxyUserName></customProxyUserName>
    <customTileSize>false</customTileSize>
    <devMode>false</devMode>
    <disabledMapSources/>
    <downloadThreadCount>4</downloadThreadCount>
    <elementName>Layer name</elementName>
    <googleLanguage>zh-CN</googleLanguage>
    <gpxFileChooserDir></gpxFileChooserDir>
    <httpConnectionTimeout>10</httpConnectionTimeout>
    <httpReadTimeout>10</httpReadTimeout>
    <mainWindow>
        <size>1440/810</size>
        <position>-1/-1</position>
        <maximized>true</maximized>
        <collapsedPanels>
            <collapsedPanel>Coordinates</collapsedPanel>
            <collapsedPanel>Gpx</collapsedPanel>
        </collapsedPanels>
    </mainWindow>
    <MapSourcesUpdate/>
    <mapviewCenterCoordinate lat="34.66961443834863" lon="135.50839126110077"/>
    <mapviewGridZoom>-1</mapviewGridZoom>
    <mapviewMapSource>Yahoo Maps Japan</mapviewMapSource>
    <mapviewSelectionMax>941541376/427100160</mapviewSelectionMax>
    <mapviewSelectionMin>940552192/426067968</mapviewSelectionMin>
    <mapviewZoom>19</mapviewZoom>
    <maxMapSize>32767</maxMapSize>
    <proxyType>CUSTOM</proxyType>
    <tileDefaultExpirationTime>607941090</tileDefaultExpirationTime>
    <tileImageFormat>PNG</tileImageFormat>
    <tileMaxExpirationTime>31743402975</tileMaxExpirationTime>
    <tileMinExpirationTime>86780058</tileMinExpirationTime>
    <tileSize>256/256</tileSize>
    <tileStoreEnabled>true</tileStoreEnabled>
    <unitSystem>Metric</unitSystem>
    <userAgent>Mozilla/5.0 (Windows; U; Windows NT 5.1; de; rv:1.9.2) Gecko/20100115 Firefox/3.6</userAgent>
    <version>1.8</version>
</settings>
