<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <atlasFormatSpecificSettings>
        <garminCustomMaxMapCount>100</garminCustomMaxMapCount>
    </atlasFormatSpecificSettings>
    <bandwidthLimit>0</bandwidthLimit>
    <coordinateNumberFormat>DEG_LOCAL</coordinateNumberFormat>
    <customProxyHost>10.108.39.250</customProxyHost>
    <customProxyPassword></customProxyPassword>
    <customProxyPort>16808</customProxyPort>
    <customProxyUserName></customProxyUserName>
    <customTileSize>false</customTileSize>
    <devMode>false</devMode>
    <directories/>
    <downloadRetryCount>1</downloadRetryCount>
    <downloadThreadCount>2</downloadThreadCount>
    <elementName>Shanghai Map HD</elementName>
    <googleLanguage>en</googleLanguage>
    <gpxFileChooserDir></gpxFileChooserDir>
    <httpConnectionTimeout>10</httpConnectionTimeout>
    <httpReadTimeout>10</httpReadTimeout>
    <ignoreDlErrors>false</ignoreDlErrors>
    <localeCountry>CN</localeCountry>
    <localeLanguage>zh</localeLanguage>
    <mainWindow>
        <size>800/590</size>
        <position>0/0</position>
        <maximized>true</maximized>
        <leftPanelVisible>true</leftPanelVisible>
        <rightPanelVisible>true</rightPanelVisible>
        <collapsedPanels>
            <collapsedPanel>Coordinates</collapsedPanel>
        </collapsedPanels>
    </mainWindow>
    <mapOverlapTiles>0</mapOverlapTiles>
    <mapSourcesDisabled/>
    <mapSourcesEnabled>
        <mapSource>4uMaps</mapSource>
        <mapSource>FAA Sectional Charts</mapSource>
        <mapSource>FreemapSlovakia</mapSource>
        <mapSource>FreemapSlovakiaCyclo</mapSource>
        <mapSource>FreemapSlovakiaHiking</mapSource>
        <mapSource>Google Hybird Map</mapSource>
        <mapSource>Google Hybird Map HD</mapSource>
        <mapSource>Google Satellite Map</mapSource>
        <mapSource>Google Satellite Map HD</mapSource>
        <mapSource>Google 卫星地图</mapSource>
        <mapSource>Google 卫星地图 HD</mapSource>
        <mapSource>Google 地形图</mapSource>
        <mapSource>Google 地形图 HD</mapSource>
        <mapSource>Google 混合地图</mapSource>
        <mapSource>Google 混合地图 HD</mapSource>
        <mapSource>Google 道路地图</mapSource>
        <mapSource>Google 道路地图 HD</mapSource>
        <mapSource>Map For Free - Relief</mapSource>
        <mapSource>MapABC 地图</mapSource>
        <mapSource>MapQuest</mapSource>
        <mapSource>Mapnik</mapSource>
        <mapSource>MoldovaPointMd</mapSource>
        <mapSource>New Zealand Topographic Maps</mapSource>
        <mapSource>Nokia 混合地图</mapSource>
        <mapSource>Nokia 混合地图 HD</mapSource>
        <mapSource>Nokia 道路地图</mapSource>
        <mapSource>Nokia 道路地图 HD</mapSource>
        <mapSource>OSM CloudMade 1</mapSource>
        <mapSource>OSMPublicTransport</mapSource>
        <mapSource>OSMapaTopo</mapSource>
        <mapSource>OSMapaTopoContours</mapSource>
        <mapSource>Open Cycle Map</mapSource>
        <mapSource>OpenPisteMapBCL</mapSource>
        <mapSource>OpenSeaMap</mapSource>
        <mapSource>OpenStreetMap Hikebikemap.de</mapSource>
        <mapSource>SkyVector VFR</mapSource>
        <mapSource>Soso 道路地图</mapSource>
        <mapSource>Turaterkep256</mapSource>
        <mapSource>UMP-pcPL</mapSource>
        <mapSource>USGS National Map Base</mapSource>
        <mapSource>USGS National Map Satellite</mapSource>
        <mapSource>USGS National Map Satellite+</mapSource>
        <mapSource>USGS National Map Topo</mapSource>
        <mapSource>USGS National Map Vector</mapSource>
        <mapSource>USGS TOPO - Full</mapSource>
        <mapSource>WanderreitkarteAbo</mapSource>
        <mapSource>Yandex Satellite</mapSource>
        <mapSource>cb-enra</mapSource>
        <mapSource>cb-enrh</mapSource>
        <mapSource>cb-enrl</mapSource>
        <mapSource>cb-sec</mapSource>
        <mapSource>cb-tac</mapSource>
        <mapSource>cb-wac</mapSource>
        <mapSource>天地图 混合地图</mapSource>
        <mapSource>高德地图</mapSource>
        <mapSource>Yahoo Japan Map</mapSource>
    </mapSourcesEnabled>
    <MapSourcesUpdate/>
    <mapviewCenterCoordinate lat="34.97753994555904" lon="133.77254605293274"/>
    <mapviewGridZoom>-1</mapviewGridZoom>
    <mapviewMapSource>Yahoo Japan Map</mapviewMapSource>
    <mapviewSelectionMax>900775936/440713216</mapviewSelectionMax>
    <mapviewSelectionMin>897105920/436387840</mapviewSelectionMin>
    <mapviewZoom>17</mapviewZoom>
    <maxMapSize>65536</maxMapSize>
    <osmHikingTicket></osmHikingTicket>
    <paperAtlas>
        <compression>6</compression>
        <crop>15</crop>
        <dpi>96</dpi>
        <marginBottom>22.6</marginBottom>
        <marginLeft>22.6</marginLeft>
        <marginRight>22.6</marginRight>
        <marginTop>22.6</marginTop>
        <overlap>28.2</overlap>
        <compass>true</compass>
        <pageNumbers>true</pageNumbers>
        <scaleBar>true</scaleBar>
        <wgsEnabled>true</wgsEnabled>
        <paperSize>A3</paperSize>
        <wgsDensity>SECOND_1</wgsDensity>
    </paperAtlas>
    <placeBookmarks/>
    <proxyType>CUSTOM</proxyType>
    <selectedZoomLevels>
        <zoomLevel>0</zoomLevel>
        <zoomLevel>1</zoomLevel>
        <zoomLevel>2</zoomLevel>
        <zoomLevel>3</zoomLevel>
        <zoomLevel>4</zoomLevel>
        <zoomLevel>5</zoomLevel>
        <zoomLevel>6</zoomLevel>
        <zoomLevel>7</zoomLevel>
        <zoomLevel>8</zoomLevel>
        <zoomLevel>9</zoomLevel>
        <zoomLevel>10</zoomLevel>
        <zoomLevel>11</zoomLevel>
        <zoomLevel>12</zoomLevel>
        <zoomLevel>13</zoomLevel>
        <zoomLevel>14</zoomLevel>
        <zoomLevel>15</zoomLevel>
        <zoomLevel>16</zoomLevel>
        <zoomLevel>17</zoomLevel>
    </selectedZoomLevels>
    <tileDefaultExpirationTime>2615100919</tileDefaultExpirationTime>
    <tileImageFormat>PNG</tileImageFormat>
    <tileMaxExpirationTime>34520671809</tileMaxExpirationTime>
    <tileMinExpirationTime>462408597</tileMinExpirationTime>
    <tileSize>256/256</tileSize>
    <tileStoreEnabled>true</tileStoreEnabled>
    <unitSystem>Metric</unitSystem>
    <userAgent>MOBAC/1.9.11.7_MP</userAgent>
    <version>1.9.11.7 MP</version>
    <wgsGrid>
        <color>#0000ff</color>
        <compressLabels>false</compressLabels>
        <density>SECOND_1</density>
        <enabled>false</enabled>
        <font>SansSerif-PLAIN-12</font>
        <width>1.0</width>
    </wgsGrid>
</settings>
